.project > img {
    width: 200px;
    height: 150px;
    
}

.project{
    margin: 20px;
    width: 300px;
    height: 150px;
    transition: transform 500ms ease-in;
    display: flex;
    
}

.project:hover{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    width: fit-content;
    text-align: center;
    
}

a{
    text-decoration: none;    
}

